body {
  border: 0;
  margin: auto;
  padding: 10px;
  font-size: 12px;
  font-family: arial,sans-serif;
}

.toolbar {
  top: 10px;
  right: 10px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.console pre {
  width: auto;
  padding: 10px;
  height: 170px;
  color: #ececec;
  margin: 0 auto;
  font-size: 11px;
  user-select: none;
  min-height: 170px;
  max-height: 170px;
  line-height: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
}

.result {
  padding: 0;
  width: 100%;
  min-height: 128px;
  margin: 15px auto;
  box-sizing: border-box;
}

.result:empty {
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}

.output {
  width: 100%;
  height: 38px;
  margin: 3px auto;
  overflow: hidden;
  text-align: center;
  border-top: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
}

.grid-container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 20% 10% 45% 10% 10% 5%;
}

.grid-item {
  color: #555;
  font-size: 12px;
  overflow: hidden;
  line-height: 38px;
  white-space: nowrap;
  font-family: monospace;
  text-overflow: ellipsis;
  border-right: solid 1px #b3b3b3;
}

.output .name {
  padding: 0;
  text-align: left;
  text-indent: 10px;
  border-left: solid 1px #b3b3b3;
}

.output .progress {
  padding: 0;
  text-align: left;
  text-indent: 10px;
}

.output .download a {
  width: 100%;
  height: 100%;
  color: #679008;
  display: block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.fileio {
  padding: 5px;
  height: 126px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: calc(100% - 2px);
  border: solid 1px #b3b3b3;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIvSURBVHic7d2xLgRRGEfx79oRvRCFjgQVkn0QNJ5EIRGyhda7SDyHUiOhYAsiNqEk66psqGTEdUfO+XWT7Jf8i5NMscVESOJKtQeUNhjEVLO5vNj2rnnJz/u7108lNnVJU3tAcf2V2Twe37Q9e51JJxGxV2BRp0zVHqC6DADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4CafjTs+Xd7JEQc1xxSRUhM5b7S/i/vIMSywqKqcY3i0c7X98Tz5bNxbjvmUol9nVkE5//AuFiJi4Ve3dEBKefbzs68AOAOAMwA4A4AzADgDgDMAOAOAMwA4A4AzALjJfwEppVFEvqg5poScUi/lvPaD08eIuPvtPfWl2y9PtWb8lcHZylxvPH5ofZji5HDraq/ApE7xFQBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYA13z/k3/u/HLUW19abXv2Mt2MSsyRpO54BxisNnYwXujbAAAAAElFTkSuQmCC') no-repeat center center;
  background-size: 14px;
}

.fileio .info {
  left: 5px;
  bottom: 5px;
  color: #555;
  font-size: 12px;
  user-select: none;
  position: absolute;
  text-align: center;
  pointer-events: none;
  font-family: monospace;
}

.fileio input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #555;
  height: 100%;
  outline: none;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  font-family: monospace;
}

.selector {
  padding: 0;
  width: 100%;
  color: #555;
  height: 64px;
  font-size: 12px;
  margin: 20px auto;
  box-sizing: border-box;
}

.selector .info {
  color: #555;
  font-size: 12px;
  text-align: left;
  user-select: none;
  pointer-events: none;
}

.selector select {
  color: #555;
  float: left;
  height: 42px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  text-indent: 5px;
  font-family: monospace;
  width: calc(100% - 54px);
  margin: 10px auto 0 auto;
  border: solid 1px #b3b3b3;
}

.selector #optimize {
  width: 52px;
  height: 42px;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
  transition: 300ms ease all;
}

.selector #optimize svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.selector #optimize:hover {
  background-color: rgba(0,0,0,0.05);
}

.console {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
}

@media (max-width: 800px) {
  body {
    padding: 5px;
  }
  .toolbar {
    top: 5px;
    right: 5px;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}