body {
  border: 0;
  padding: 0;
  margin: auto;
  font-size: 13px;
  font-family: monospace;
}

.toolbar {
  top: 0;
  right: 0;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.console pre {
  width: auto;
  padding: 10px;
  height: 170px;
  color: #ececec;
  margin: 0 auto;
  font-size: 13px;
  user-select: none;
  min-height: 170px;
  max-height: 170px;
  line-height: 22px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
}

.result {
  padding: 0;
  width: 100%;
  min-height: 128px;
  margin: 20px auto;
  box-sizing: border-box;
}

.result:empty {
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}

.output {
  width: 100%;
  height: 38px;
  margin: 5px auto;
  overflow: hidden;
  text-align: center;
  border-top: solid 1px #0000000d;
  border-bottom: solid 1px #0000000d;
}

.grid-container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 20% 15% 15% 15% 25% 10%;
}

.grid-item {
  color: #333;
  font-size: 13px;
  overflow: hidden;
  font-weight: 600;
  line-height: 38px;
  white-space: nowrap;
  letter-spacing: 1px;
  font-family: monospace;
  text-overflow: ellipsis;
  border-right: solid 1px #0000000d;
}

.grid-container[optimized='true'] .grid-item.original-size {
  color: #ed0000;
}

.grid-container[optimized='true'] .grid-item.final-size {
  color: #295fff;
}

.output .name {
  padding: 0;
  text-align: left;
  text-indent: 10px;
}

.output .progress {
  padding: 0;
  text-align: left;
  text-indent: 10px;
}

.output .download {
  border-right: 0;
}

.output .download a {
  width: 100%;
  height: 100%;
  color: #679008;
  display: block;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.fileio {
  border: 0;
  width: 100%;
  height: 127px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border-bottom: solid 1px #b3b3b3;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIvSURBVHic7d2xLgRRGEfx79oRvRCFjgQVkn0QNJ5EIRGyhda7SDyHUiOhYAsiNqEk66psqGTEdUfO+XWT7Jf8i5NMscVESOJKtQeUNhjEVLO5vNj2rnnJz/u7108lNnVJU3tAcf2V2Twe37Q9e51JJxGxV2BRp0zVHqC6DADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4CafjTs+Xd7JEQc1xxSRUhM5b7S/i/vIMSywqKqcY3i0c7X98Tz5bNxbjvmUol9nVkE5//AuFiJi4Ve3dEBKefbzs68AOAOAMwA4A4AzADgDgDMAOAOAMwA4A4AzALjJfwEppVFEvqg5poScUi/lvPaD08eIuPvtPfWl2y9PtWb8lcHZylxvPH5ofZji5HDraq/ApE7xFQBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYA13z/k3/u/HLUW19abXv2Mt2MSsyRpO54BxisNnYwXujbAAAAAElFTkSuQmCC') no-repeat center center;
  background-size: 27px;
}

.fileio .info {
  left: 10px;
  color: #333;
  bottom: 10px;
  font-size: 13px;
  text-align: left;
  overflow: hidden;
  user-select: none;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  font-family: monospace;
  text-overflow: ellipsis;
}

.fileio input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
  height: 100%;
  outline: none;
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  font-family: monospace;
}

.selector {
  padding: 0;
  width: 100%;
  color: #333;
  height: 96px;
  margin: 0 auto;
  font-size: 13px;
  margin-top: 10px;
  box-sizing: border-box;
}

.selector .info {
  padding: 10px;
  color: #689705;
  font-size: 13px;
  overflow: hidden;
  text-align: left;
  user-select: none;
  white-space: nowrap;
  pointer-events: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.selector select {
  color: #333;
  float: left;
  height: 42px;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
  font-size: 13px;
  text-indent: 5px;
  font-weight: 600;
  font-family: monospace;
  width: calc(100% - 74px);
  border: solid 1px #b3b3b3;
  border-left: 0;
}

.selector #optimize {
  width: 72px;
  height: 42px;
  float: right;
  cursor: pointer;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
  transition: 300ms ease all;
  border-right: 0;
}

.selector #optimize svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.selector #optimize:hover {
  background-color: rgba(0,0,0,0.05);
}

.console {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
  border-right: 0;
  border-left: 0;
}

@media (max-width: 400px) {
  .toolbar {
    display: none;
  }
}

html[context="popup"] .result {
  margin: 0 auto;
}

html[context="popup"] .selector {
  margin-top: 5px;
}

html[context="webapp"] .toolbar {
  display: none;
}
